* {
    box-sizing: content-box;
    max-width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
}

header {

    margin: 0px;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.logoheader{
    position: absolute;
    left: 80px;
    justify-items: left;
}

#logo{
    margin: 0px;
}

.menu{
    margin: 0px;
}

.rightsideheader{
    justify-items: right;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    right: 50px;
}

.firstcoffee{
    background: url(../images/firstimage.jpg);
    position: static;
    background-position: center center;
    text-align: center;
    background-size: cover;
    height: 490px;
    margin-top: 20px;
}

.start {
    padding-top: 60px;
}

#yourday{
    color: white;
}

.our {
    padding-top: 270px;
}

#ourcoffee {
    color: white;
}




