* {
    box-sizing: content-box;
    max-width: 100%;
}

body {
    background-color: rgb(51, 50, 50);
}


header {
    position: static;
    background-size: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.logoheader{
    justify-items: left;
    padding-right: 20%;
    padding-left: 10%;
}

.rightsideheader{
    justify-items: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;

}

.firstcoffee{
    background: url(../images/firstimage.jpg);
    position: static;
    max-width: 100%;
    align-content: center;
    text-align: center;
    background-size: cover;
    justify-content: center;
    margin: 0px
}

#start {
    width: 120;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 50px;
    color: white;
}

#our {
    width: 150px;
    height: 35px;
    color: black;
    background-color: white;
    border-radius: 40px;
    border: white;
    padding: 20px 50px;

}

#ourcoffee {
    font-size: 2em;
    color: white;
    padding-top: 2px;
    padding-bottom: 10px;
    padding: 20px 50px;
}




