*{
    margin: 0%;
    background-color: rgb(10, 10, 10);
}

.logorado{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    justify-content: space-between;
    padding: 3vw;
}

#lpard {
    /* background-color: blue; */
}

#lpard > img{
    width: 20vw;
    height: 22vw;
}

#fork{
    /* background-color: rgb(255, 0, 149); */
}

#fork > img{
    width: 20vw;
    height: 22.3vw;
}

#stamps{
    /* background-color: rgb(255, 0, 0); */
    grid-column: 3/5;
}

#stamps > img{
    width: 53vw; 
    height: 22.5vw;
}

#meal{
    /* background-color: rgb(157, 255, 0); */
    grid-column: 1/2;
    grid-row: 2/4;
}

#meal > img{
    width: 20vw;
    height: 47vw;
}

#logoName{
    /* background-color: rgb(240, 166, 98); */
    grid-column: 2/4;
}

#logoName > img{
    width: 53vw;
    height: 22.5vw;
}

#deliveryMan{
    /* background-color: rgb(44, 44, 155); */
}

#deliveryMan > img {
    width: 20vw;
    height: 22vw;
}

#burger{
    /* background-color: rgb(152, 48, 212); */
    grid-column: 2/4;
}

#burger > img{
    height: 22.5vw;
    width: 53vw;
}

#logo{
    /* background-color: rgb(0, 255, 234); */
}

#logo > img{
    width: 20vw;
    height: 22vw;
}

/*Desarrollado por: Maria Alejandra Gomez Archila - cc.1005234916 */