* {
    box-sizing: content-box;
    max-width: 100%;
}


body {
    background-color: rgb(0, 0, 0);
}

/*STYLE FIRST SECTION/HEADER*/

header {
    background-image: url(../images/fondoTwitch.png);
    position: static;
    max-width: 100%;
    align-content: center;
    text-align: center;
    background-size: cover;
    justify-content: center;
    margin: 0px;
}

#search {
    position: absolute;
    left: 68px;
    top: 40px;
    width: 30px;
    justify-items: left;
}


#login {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    justify-items: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 40px;
}

.logo {
    width: 120;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 300px;
}

#logo {
    width: 280px;
    height: 160px;

}
.favs {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#favouritecontent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 58px;
    color: white;
}

.now {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#now {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 29px;
}

.signup {
    padding-bottom: 250px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#signup {
    height: auto;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 50px;
    border: white;
    padding-left: 60px;
    padding-right: 60px;
}


/* STYLE SECOND SECTION*/

#secondsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 10px 15px;
}

.livecontent {
    background-color: rgb(0, 168, 225);
    border-radius: 80px 80px 80px 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    padding-left: 20px;
    padding-right: 20px;
}

.fourk{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
    padding-left: 275px;
    padding-right: 275px;
}

.tvimg {
    width: 250px;
}

/* STYLE THIRD SECTION*/

#thirdsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 10px 15px;
}

.thirdsection {
    background-color: rgb(0, 168, 225);
    border-radius: 80px 80px 80px 80px;
    padding: 10px 50px;
}

.dont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    padding-left: 30px;
    padding-right: 30px;
}

.sizeimg {
    width: 200px;
}
.movies {
    align-items: center;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.youwill{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 51px;
    padding-left: 95px;
    padding-right: 95px;
}


/* STYLE FOURTH SECTION*/

#fourthsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 10px 15px;  
}

.cancel {
    background-color: rgb(0, 168, 225);
    border-radius: 80px 80px 80px 80px;
    padding: 10px 50px;
}

.anytime{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    padding-left: 30px;
    padding-right: 30px;
}

.times {
    width: 200px;
}

.ifyou{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 51px;
    padding-left: 95px;
    padding-right: 95px;
}

/* STYLE FIFTH SECTION*/

#fifthsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 0px 15px;
}

.fifthsection {
    padding: 10px 10px;
}

.compatibledevices{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    padding-left: 30px;
    padding-right: 30px;
}

.there{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding-left: 85px;
    padding-right: 85px;
}

.movies {
    align-items: center;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2px;
}

/*Background-color was used to adjust the padding to each image*/
#larrow {
    width: 30px;
    /*background-color: green; */
    padding: 80px;
}

#iphone {
    width: 220px;
    /*background-color: red; */
    padding: 51px;
}

#mac {
    width: 300px;
    /* background-color: yellow; */
}

#pc {
    width: 200px;
    /* background-color: purple; */
    padding: 50px;
}

#rarrow {
    width: 30px;
    transform: scaleX(-1);
    /* background-color: gray; */
    padding: 80px;
}


/* STYLE SIXTH/FOOTER SECTION*/

footer {
    color: white;
    align-items: center;
}

.footer {
    display: flex;
    gap: 20px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    /* background-color: blueviolet;*/
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

/*Desarrollado por: Maria Alejandra Gomez Archila - cc.1005234916 */