body {
    background-color: rgb(80, 66, 66);
}

h1 {
    color: white;
}

p {
    color: white;
}

button {
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 12px;
}

/* Desarrollado por: Maria Alejandra Gomez Archila - cc.1005234916 */