* {
    box-sizing: content-box;
    max-width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
}

/*STYLE FIRST SECTION/HEADER*/

header {
    background-image: url(../images/fondoTwitch.png);
    position: static;
    max-width: 100%;
    align-content: center;
    text-align: center;
    background-size: cover;
    justify-content: center;
    margin: 0px
}

.search {
    float: left;
    padding-left: 35px;
    padding-top: 21px
}

#search {
    width: 30px;
    width: 30px;
    justify-items: left;
}

.logo {
    width: 120;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 200px;
}

#logo {
    width: 200px;
    height: 100px;
    padding-left: 67px;
}

.login {
    float: right;
    padding-right: 20px;
    padding-top: 21px;
}

#login {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    justify-items: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

.favs {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#favouritecontent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: white;
}

.now {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#now {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1em;
}

.signup {
    padding-bottom: 50px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#signup {
    height: auto;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 50px;
    border: white;
    padding-left: 60px;
    padding-right: 60px;
}


/* STYLE SECOND SECTION*/

#secondsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 10px 15px;
}

.livecontent {
    background-color: rgb(0, 168, 225);
    border-radius: 40px;
    padding: 10px 50px;
}

.tvimg {
    width: 150px;
}

/* STYLE THIRD SECTION*/

#thirdsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 0px 15px;
}

.thirdsection {
    background-color: rgb(0, 168, 225);
    border-radius: 40px;
    padding: 10px 50px;
}

.movies {
    align-items: center;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.sizeimg {
    width: 100px;
}

/* STYLE FOURTH SECTION*/

#fourthsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 10px 15px;
}

.cancel {
    background-color: rgb(0, 168, 225);
    border-radius: 40px;
    padding: 10px 50px;
}

.times {
    width: 100px;
}


/* STYLE FIFTH SECTION*/

#fifthsection {
    color: white;
    max-width: 100%;
    text-align: center;
    max-width: 100%;
    justify-content: center;
    padding: 0px 15px;
}

.fifthsection {
    padding: 10px 10px;
}

.movies {
    align-items: center;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*Background-color was used to adjust the padding to each image*/
#larrow {
    width: 20px;
    /* background-color: green; */
    padding: 80px;
}

#iphone {
    width: 100px;
    /* background-color: red; */
    padding: 51px;
}

#mac {
    width: 180px;
    /* background-color: yellow; */
}

#pc {
    width: 100px;
    /* background-color: purple; */
    padding: 50px;
}

#rarrow {
    width: 20px;
    transform: scaleX(-1);
    /* background-color: gray; */
    padding: 80px;
}


/* STYLE SIXTH/FOOTER SECTION*/

footer {
    color: white;
    align-items: center;
}

.footer {
    display: flex;
    gap: 20px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    /* background-color: blueviolet;*/
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Desarrollado por: Maria Alejandra Gomez Archila - cc.1005234916 */